main {
  max-width: 136.6rem;
  padding: 3rem;
  margin: 0 auto;
  min-height: 100vh;
}

.secondDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailsTitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  display: flex;
  h6 {
    font-size: 1rem;
    font-weight: bold;
  }
}

